<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stik.StikJIT.enableJIT</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stikdebug</string>
				<string>stikjit</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_remotepairing-pairable-host._tcp</string>
		<string>_stikdebug._tcp</string>
		<string>_stikdebug._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>StikDebug uses the local network to receive the target device's iOS 27 pairing connection.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>StikDebug Mini Tool</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.stik.StikJIT.stiktool</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stiktool</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
